body{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #4CAF50;
  }
  input, label {
   
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    height: 30px;
}

.container {
    text-align: center;
    
    border-radius: 30px;
  
    padding: 16px;
    background-color: rgb(255, 255, 255);
    margin: 200px auto;
    width: 500px;
    -webkit-box-shadow: 21px 23px 17px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: 21px 23px 17px -5px rgba(0,0,0,0.51);
    box-shadow: 21px 23px 17px -5px rgba(0,0,0,0.51);
   
  }
  .inputs{
    display: flex;
    justify-content: center;
  }

  .outputs{
    font-size: medium;
  }
  #encryptedString{
  display: none    
}

  .form-input
  {
    padding : 15px;
    border-width: medium;
    display:inline-block ;
  }

  #encryptButton{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #02831e;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    /* transition: all 0.4s ease 0s; */
    }

    #encryptButton:hover {
        background: #434343;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
        }